{% extends "LZK/content.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
<main role="main" class="container">
<section class="row">
  <h1 class="col-md">
    {% trans "Objective by subject" %}
  </h1>
</section>
<section class="row">
  <p class="col-md">
  {% blocktrans %}
Die Lernziele in diesem Abschnitt des Lernzielkatalogs sind den einzelnen Fachrichtungen
interdisziplinär zugeordnet. Das bedeutet, dass ein Lernziel bei Meldungen durch mehrere
klinische Fachbereiche gelehrt werden kann oder auch wird. Um diesen Mehrfachmeldungen gerecht zu werden, wurde letzten Endes für jedes Lernziel die jeweils höchste,
gemeldete Lerntiefe übernommen. So kann ein Lernziel in den beteiligten Fachbereichen
unterschiedlich didaktisch umgesetzt werden und somit auch in der Lerntiefe variieren.
Die im Lernzielkatalog angeführte Lerntiefe wird jedoch nicht überschritten. Ziel ist es,
den Studierenden klar zu vermitteln, in welcher Lerntiefe das jeweilige Lernziel bis zum
Abschluss des prägradualen Studiums zu erlernen ist.
Um Wertungen zu vermeiden, sind sowohl die einzelnen klinischen Fächer als auch die zugeordneten Lernziele in alphabetischer Reihenfolge angeführt. Die vorliegenden Lernziele
dienen als Grundlage für Lehr- und Prüfungsformate im Sinne des constructive alignment.
  {% endblocktrans %}
  </p>
</section>
<div id="filters">
  <div class="card">
    <div class="card-header" id="headingFilters">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
          {% trans "Show filters" %}
        </button>
      </h5>
    </div>
    <div id="collapseFilters" class="collapse" aria-labelledby="headingFilters" data-parent="#filters">
      <div class="card-body">
<form method="get">
  {% crispy filter.form %}
</form>
      </div>
    </div>
  </div>
</div>
{% if object_list %}
{% render_table table %}
{% else %}
<div class="alert alert-primary" role="alert">
  {% trans "No subjects were found." %}
</div>
{% endif %}
</main>
{% endblock %}
