{% extends "LZK/content.html" %}

{% load i18n %}

{% block content %}
<main role="main" class="container">
<section class="row">
  <div class="col-md-8">
    <h1>
      {% blocktrans with university=object.university subject=object.subject %}
      Request for {{ subject }} to {{ university }}
      {% endblocktrans %}
    </h1>
  </div>
  <div class="col-md-4">
    <div class="btn-group float-right mt-2" role="group">
      <a class="btn btn-secondary btn-md" href="{% url "private:feedback-list" %}">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
        {% trans "Back" %}
      </a>
    </div>
  </div>
</section>
<section class="row">
  <blockquote class="blockquote text-muted col-md">
    {{ object.notes }}
  </blockquote>
</section>
<section class="row">
  <div class="col-md-4">
    <a href="{% url "private:feedback-detail-abilities" pk=object.pk %}" class="btn btn-primary btn-block">
      <i class="fa fa-folder-open-o" aria-hidden="true"></i>
      {% blocktrans with abilities=object.abilitycomment_set.count %}
      {{ abilities }} Abilities
      {% endblocktrans %}
    </a>
  </div>
  <div class="col-md-4">
    <a href="{% url "private:feedback-detail-symptoms" pk=object.pk %}" class="btn btn-primary btn-block">
      <i class="fa fa-folder-open-o" aria-hidden="true"></i>
      {% blocktrans with symptoms=object.symptomcomment_set.count %}
      {{ symptoms }} Symptoms
      {% endblocktrans %}
    </a>
  </div>
  <div class="col-md-4">
    <a href="{% url "private:feedback-detail-skills" pk=object.pk %}" class="btn btn-primary btn-block">
      <i class="fa fa-folder-open-o" aria-hidden="true"></i>
      {% blocktrans with skills=object.skillcomment_set.count %}
      {{ skills }} Skills
      {% endblocktrans %}
    </a>
  </div>
</section>
</main>
{% endblock %}
