{% extends "LZK/content.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
<main role="main" class="container">
<section class="row">
  <div class="col-md-8">
    <h1>
      {% trans "Feedback" %}
    </h1>
  </div>
  <div class="col-md-4">
    <div class="btn-group float-right mt-2" role="group">
      <a class="btn btn-secondary btn-md" href="{% url "private:feedback-create" %}">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        {% trans "Create" %}
      </a>
    </div>
  </div>
</section>


<div id="filters">
  <div class="card">
    <div class="card-header" id="headingFilters">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
          {% trans "Show filters" %}
        </button>
      </h5>
    </div>
    <div id="collapseFilters" class="collapse" aria-labelledby="headingFilters" data-parent="#filters">
      <div class="card-body">
<form method="get">
  {% crispy filter.form %}
</form>
      </div>
    </div>
  </div>
</div>
{% if table.data|length > 0 %}
{% render_table table %}
{% else %}
<div class="alert alert-primary" role="alert">
  <i class="fa fa-info-circle" aria-hidden="true"></i>
  {% trans "No requests for feedback have been created." %}
</div>
{% endif %}
</main>
{% endblock %}
