{% extends "LZK/content.html" %}

{% load i18n %}

{% block content %}
<main role="main" class="container">
<section class="row">
  <h1 class="col-md">
    {% trans "Competence levels" %}
  </h1>
</section>
{% if object_list.count > 0 %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  {% for object in object_list %}
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-header">
        {{ object.short }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
        <p class="card-text">{{ object.description }}</p>
      </div>
      <div class="card-footer">
        {% for activity in object.activity_set.all %}
        <a href="{% url 'public:activity' pk=activity.pk %}" class="btn btn-primary btn-block">{{ activity.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="alert alert-primary" role="alert">
  <i class="fa fa-info-circle" aria-hidden="true"></i>
  {% trans "No competence levels have been defined yet." %}
</div>
{% endif %}
</main>
{% endblock %}
