{% extends "LZK/content.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
<main role="main" class="container">
<section class="row">
  <h1 class="col-md">
    {% trans "Symptoms by subject" %}
  </h1>
</section>
<section class="row">
  <p class="col-md">
  {% blocktrans %}
  Die Lernziele in diesem Abschnitt des Lernzielkatalogs reflektieren nicht die Wissensbasis
  einzelner Erkrankungen, sondern ermöglichen durch die Zentrierung auf ein Symptom das
  Erlernen eines interdisziplinären Managements im klinischen Alltag. Die Symptome sind
  in alphabetischer Reihenfolge angeführt. Diesen Symptomen sind die Fachbereiche zugeordnet, in welchen näher auf dieses Lernziel eingegangen wird.
  Um eine Klassifikation der einzelnen Fachbereiche zu vermeiden, wurden auch diese in
  alphabetischer Reihenfolge angeführt. Die vorliegenden Symptome dienen, wie auch die
  fächerzentrierten Lernziele, als Grundlage für die jeweils zugeordneten Prüfungsformate
  im Sinne des constructive alignment.
  {% endblocktrans %}
  </p>
</section>
<div id="filters">
  <div class="card">
    <div class="card-header" id="headingFilters">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
          {% trans "Show filters" %}
        </button>
      </h5>
    </div>
    <div id="collapseFilters" class="collapse" aria-labelledby="headingFilters" data-parent="#filters">
      <div class="card-body">
<form method="get">
  {% crispy filter.form %}
</form>
      </div>
    </div>
  </div>
</div>
{% if object_list %}
{% render_table table %}
{% else %}
<div class="alert alert-primary" role="alert">
  {% trans "No subjects were found." %}
</div>
{% endif %}
</main>
{% endblock %}
