{% extends "LZK/content.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<main role="main" class="container">
<section class="row">
  <div class="col-md-8">
    <h1>
      {% blocktrans with skill=object.skill %}
      Feedback for {{ skill }}
      {% endblocktrans %}
    </h1>
  </div>
  <div class="col-md-4">
    <div class="btn-group float-right mt-2" role="group">
      <a class="btn btn-secondary btn-md" href="{% if activity %}{% url "feedback-skill" pk=activity %}{% else %}{% url "feedback" %}{% endif %}">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
        {% trans "Cancel" %}
      </a>
    </div>
  </div>
</section>
{% crispy form %}
</main>
{% endblock %}
